@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    xDevops<br />
    Noorderlaan 139, 2030 Antwerpen<br />
    <abbr title="Phone">P:</abbr>
    0032 3 543 75 00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">tasmaniantrader@xylos.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">tasmaniandevil@xylos.com</a>
</address>